<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Butcher Buddies Home</title>
    <link rel="stylesheet" href="/static/compiled/styles.css">
  </head>
  <body class="text-center">
    <div class="wrapper mx-auto md:container">
      <%- include('partials/header')  -%>
      <header class="md:container md:mx-auto my-3">
        <h1 class="text-4xl"><%= title %></h1>
      </header>
      <main class="grid">
        <div class="row">
          <div class="md:container md:mx-auto ">
            <h1>Hello, <%= email %></h1>
          </div>
          <section id="posts">
               <ul>
<% for (var i=0; i < posts.length; i++) {%>
   <li><%= posts[i] %></li>
<% } %>
</ul>
          </section>
        </div>
      </main>
    </div>
    <script src="/static/js/signup.js"></script>
  </body>
</html>