<nav class="main-nav my-2">
    <ul class="flex justify-center">
        <li class="flex-initial mx-2"><a href="#">Link Here</a></li>
        <li class="flex-initial mx-2"><a href="#">Link Here</a></li>
        <li class="flex-initial mx-2"><a href="#">Link Here</a></li>
    </ul>
</nav>